@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.cdnfonts.com/css/heebo");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Heebo";
}

:root {
  --height_header_pad: 40px;
}

.buy_fixed_link {
  position: fixed;
  z-index: 5;
  bottom: 4vh;
  left: 3vw;
  padding: 14px 21px;
  background-color: #000000;
  color: white;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  transition: 1s;
}

.buy_fixed_link:hover {
  background-color: rgb(130, 181, 65);
  color: white;
}
.buy_fixed_link:hover i {
  color: white;
}

.buy_fixed_link i {
  color: rgb(130, 181, 65);
  margin: 0 0.5vw 0 0;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--height_header_pad) 0;
}

.navbar ul li img {
  height: 205px;
  height: 45px;
}

.navbar ul li i {
  font-size: 40px;
}

/* active wallpaper */
.active_wallpaper {
  background-image: url("images/slider-image-first.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.content_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  position: relative;
}

.content_image p {
  color: #ffffff;
  font-size: 60px;
}

.radio_btn {
  position: absolute;
  bottom: 8vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

input[type="radio"] {
  width: 2em;
  margin: 0 0 0 1.5em;
  height: 2em;
}

input[type="radio"]:checked {
  appearance: none;
  background: #999;
  border-radius: 50%;
}

/* Section_text */
:root {
  --content_col_count: 2;
  --content_gap: 30px;
}

.txt_content {
  display: flex;
  justify-content: space-between;
  gap: 0px var(--content_gap);
  margin: var(--content_gap) 0;
}

.txt_content .parent_header {
  width: calc(100% / var(--content_col_count) - var(--content_gap));
}

.txt_content .parent_header h3 {
  font-size: 34px;
  font-weight: 300;
  line-height: 42.9px;
}

.txt_paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / var(--content_col_count) - var(--content_gap));
  gap: 40px;
}

.txt_paragraphs p {
  font-size: 18px;
  text-align: justify;
  text-indent: 15px;
  line-height: 24px;
  font-weight: 300;
  color: #555;
}

/*  Thumb WrapperImages*/
:root {
  --thumb-gap: 15px;
  --same-height: 350px;
  --top-width-const: 70%;
  --top-width-const_2: 30%;
  --bottom-width-const: 66.6%;
}

.thump_wrapper img:hover {
  transition: 0.8s;
  opacity: 10%;
  cursor: pointer;
}

.top_img .thumb_parent {
  position: relative;
  height: var(--same-height);
}

.thumb_parent a {
  position: absolute;
  display: none;
  bottom: 1.25vw;
  left: 2vw;
  color: #555;
}

.pos-abs {
  position: absolute;
  bottom: 3vw;
  left: 2vw;
  font-size: 18px;
  font-weight: 400;
  display: none;
  color: #000000;
}

.thumb_parent a:hover {
  text-decoration: underline;
}

.thumb_parent_1:hover p,
.thumb_parent_1:hover a {
  display: block;
}

.thumb_parent_2:hover p,
.thumb_parent_2:hover a {
  display: block;
}

.thumb_parent_3:hover p,
.thumb_parent_3:hover a {
  display: block;
}

.thumb_parent_4:hover p,
.thumb_parent_4:hover a {
  display: block;
}

.thumb_parent_5:hover p,
.thumb_parent_5:hover a {
  display: block;
}

.thumb_parent img {
  width: 100%;
  height: 100%;
}

.top_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--thumb-gap);
}

.thumb_parent_1 {
  width: calc(100% - var(--top-width-const_2) - (var(--thumb-gap) / 2));
}

.thumb_parent_2 {
  width: calc(100% - var(--top-width-const) - (var(--thumb-gap) / 2));
}

.thumb_parent_3 {
  width: calc((100% - var(--bottom-width-const)) - var(--thumb-gap));
}

.thumb_parent_4 {
  width: calc((100% - var(--bottom-width-const)) - var(--thumb-gap));
}

.thumb_parent_5 {
  width: calc((100% - var(--bottom-width-const)) - var(--thumb-gap));
}

/*  */
.btm_link p {
  margin: 20px 0;
  padding: 20px 0;
}

.btm_link a {
  font-family: "Heebo";
  font-size: 26px;
  font-weight: 300;
  color: #000000;
  transition: 0.5s;
}

.btm_link a:hover {
  color: rgb(109, 109, 109);
}

/* Service List */
.service_list {
  background-color: rgb(34, 34, 34);
  color: white;
  border-bottom: 0.001rem solid #f3f3f30a;
}

.top_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
  padding: 40px 0;
}

.list_name {
  width: 50%;
  font-size: 26px;
  font-weight: 300;
  line-height: 28px;
}

.list_desc {
  width: 50%;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  color: #999;
}

.client_partners_name_desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.client_partners_name_desc > * {
  width: 50%;
}

.client_partners_name p {
  padding: 20px 0;
  font-size: 32px;
  font-weight: 300;
  line-height: 35.2px;
}

.client_partners_desc p {
  padding: 20px 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

/* client_partners_bottom */
:root {
  --col_count: 5;
  --col_gap: 30px;
  --col_height: 250px;
}

.client_partners_bottom {
  background-color: rgba(221, 221, 221, 0.336);
}

.client_partners_bottom .card_lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--col_gap);
  padding: 40px 0 60px 0;
}

.client_partners_bottom .card {
  transition: 0.75s;
  background-color: #ddd;
  width: calc((100% / var(--col_count)) - var(--col_gap));
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: relative;
}
.client_partners_bottom .card p {
  transition: 0.75s;
}

.client_partners_bottom .card img {
  transition: 1s;
  width: 100%;
  object-fit: cover;
}

.client_partners_bottom .card p {
  position: absolute;
  visibility: hidden;
  font-size: 25px;
  font-weight: bold;
  color: #000000;
}

.client_partners_bottom .card:hover img {
  background-color: #ddd;
  cursor: pointer;
  filter: blur(5px);
}

.client_partners_bottom .card:hover p {
  visibility: visible;
}

.client_partners_bottom .card:hover .card {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section_news */
.section_news {
  padding: 5px 0;
  background-color: #aa9e9e5b;
}

.section_news_wrapper {
  display: flex;
  flex-direction: column;
}

.sec_news_header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 0;
}

.sec_news_header h2 {
  padding: 24px 0;
  font-weight: 300;
  font-size: 32px;
}

.sec_news_header p {
  color: rgb(85, 85, 85);
  font-size: 18px;
  text-align: justify;
}

.content_equals {
  width: calc((100% / 2) - 20px);
}

/* news body */
.sec_news_card_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px 15px;
  margin: 45px 0;
}

.sec_news_card {
  width: calc((100% / 2) - 20px);
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.news_card_image {
  transition: 1s;
  width: calc((100% / 2) - 10px);
}

.news_card_image:hover {
  cursor: pointer;
  opacity: 10%;
}

.news_card_image img {
  width: 180px;
  object-fit: cover;
  height: 100%;
}

.news_card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news_card_content h2 {
  justify-self: flex-start;
  font-size: 18px;
  line-height: 27px;
}

.news_card_content h2 a {
  color: #000000;
  font-weight: 300;
}

.news_card_content p {
  font-size: 18px;
  color: #555;
  line-height: 24px;
  text-align: justify;
}

.reveal-button a {
  padding: 10px 20px 10px 0px;
  font-size: 26px;
  color: #000000;
  font-weight: 300;
}

.reveal-button a:hover {
  color: #00000083;
}

/* Footer  */
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  gap: 10px;
}

.footer_wrapper a,
.footer_wrapper p {
  position: relative;
  color: rgb(85, 85, 85);
  font-size: 20px;
  padding: 5px 0;
  font-weight: 300;
}

/* left links */
.footer_wrapper .foot_author a::after {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  bottom: 6px;
  left: 0px;
  transition: 0.5s;
}

.footer_wrapper .foot_author a:hover {
  color: rgb(251, 196, 65);
}

.footer_wrapper .foot_author a:hover:after {
  width: 100%;
  background-color: rgb(251, 196, 65);
}
/*  arrow icon */
footer {
  position: relative;
}
.foot_arrow_up {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.foot_arrow_up a i {
  color: #000000;
  font-size: 24px;
  transition: 0.5s;
  transform: scale(1.2);
}

.foot_arrow_up a i:hover {
  transform: scale(1.6);
}

/* right  links */
.navlinks ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.navlinks ul li a::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0px;
  transition: 0.5s;
  width: 0%;
  height: 1px;
}

.navlinks ul li a:hover:not(.last_link) {
  color: rgb(24, 119, 242);
}

.navlinks ul li a:not(.last_link):hover:after {
  width: 100%;
  background-color: rgb(24, 119, 242);
}

.navlinks ul li .last_link:hover {
  color: rgb(122, 193, 66);
}

.navlinks ul li .last_link:hover:after {
  width: 100%;
  background-color: rgb(122, 193, 66);
}
